.propaganda{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.img_propaganda{
    width: 650px;
    height: 400px;
    margin: 8px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #333;
    transition: .5s;
}

.img_propaganda:hover{
    box-shadow: 0 0 10px #805efa;
}

.texto_propaganda{
    font-family:'Phudu', cursive;
    font-size: 40px;
    color: 	#222;
    text-shadow: 0 0 2px #111;
    margin: 10px 25px;
}

.atencao{
    color: 	#abb0fd;
    font-family:'Phudu', cursive;
    font-size: 40px;
    text-shadow: 0 0 1px #805efa;
    transition: .5s;
}

.atencao:hover{
    color: #7a81e2;
    text-shadow: 0 0 10px #643fe7;
}

.texto_propaganda::selection, br::selection {
    background-color: #7a81e2;
    color: #eee;
    text-shadow: 0 0 2px #111;
}

.atencao::selection{
    background-color: #7a81e2;
    color: #868686;
    text-shadow: 0 0 5px #7038c9;
}


/* Cartao */

.cartao_centro{
    height: 120px;
    width: 100%;
    background-image: url('/css/img/Cartao.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px #222;
    transition: .5s;
    margin: 15px 0;
}

.cartao_centro:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #111;
}