.barra_busca{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 0 12px #111;
}

.input_barra_busca{
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    color: #eee;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.btn_barra_busca{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #333;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.barra_busca:hover > .input_barra_busca{
    width: 200px;
    padding: 0 10px;
}

.barra_busca:hover > .btn_barra_busca{
    background-color: #666;
}

::-webkit-input-placeholder{
    color: #eee;
    text-shadow: 0 0 2px #a253e2;
}


.input_barra_busca::selection{
    background-color: #B0C4DE;
    color: #222;
}


