.menu_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_header_principal{
    background-color: #333;
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
    margin: 0 35px;
}

.menu_nav_principal{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 15px;
}

.menu_barra{
    display: flex;
    align-items: center;
    margin-right: 150px;
}