body{
    background-color: #d5d8fe;
} 

.menu_curso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#card_curso-1{
    margin: 10px 15px;
    background: rgb(255,165,0);
    background: radial-gradient(circle, rgba(255,165,0,1) 0%, rgba(255,121,0,1) 100%);
    width: 380px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
}

#card_curso-2{
    margin: 10px 15px;
    background: rgb(70,130,180);
    background: radial-gradient(circle, rgba(70,130,180,1) 0%, rgba(64,224,208,1) 100%);
    width: 380px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
}

#card_curso-3{
    margin: 10px 15px;
    background: rgb(255,255,0);
    background: radial-gradient(circle, rgba(255,255,0,1) 0%, rgba(255,165,0,1) 100%);
    width: 380px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
}

#card_curso-4{
    margin: 10px 15px;
    background: rgb(255,140,0);
    background: radial-gradient(circle, rgba(255,140,0,0.9) 0%, rgba(70,130,180,1) 100%);
    width: 380px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
}

#card_curso-5{
    margin: 10px 15px;
    background: rgb(70,130,180);
    background: radial-gradient(circle, rgba(70,130,180,1) 0%, rgba(64,224,208,1) 100%);
    width: 380px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
}