<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Importação ICON e FONTE-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Phudu&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        <!-- CSS -->
        <link rel="stylesheet" href="../css/styles_reset.css">
        <link rel="stylesheet" href="../css/menu_principal/menu/styles_curso.css">
    
        <!-- CSS HEADER -->
        <link rel="stylesheet" href="../css/menu_principal/header/styles_barra_busca.css">
        <link rel="stylesheet" href="../css/menu_principal/header/styles_header.css">
        <link rel="stylesheet" href="../css/menu_principal/header/styles_logotipo.css">
        
        <!-- CSS FOOTER -->
        <link rel="stylesheet" href="../css/menu_principal/footer/styles_footer.css">
        
        <!-- CSS MENU -->
        <link rel="stylesheet" href="../css/menu_cursos/styles_menu_curso.css">
        <link rel="stylesheet" href="../css/menu_cursos/styles_aulas.css">

    <title>Front</title>
</head>
<body>

    <header class="menu_header">
        
        <div class="menu_header_principal">
                <a href="../html/menu_principal.html" id="nome_site"><img src="../css/img/Logotipo.png" alt="Logotipo" id="logo"></a>
            <div class="menu_barra">
                <div class="barra_busca">
                    <input type="text" placeholder="Pesquisar" class="input_barra_busca">
                    <a href="#" class="btn_barra_busca"> 
                        <img src="../css/img/Lupa.svg" alt="Lupa de Pesquisa" height="20px" width="20px">
                    </a>
                </div>
            </div>
           
            <nav class="menu_nav_principal">
                <a href="#" class="link_nav_principal">Home</a>
                <a href="#" class="link_nav_principal">Contato</a>
                <a href="#" class="link_nav_principal">Quem somos?</a>
            </nav>
                
        </div>
    </header>
   
    <main class="menu_curso">
        
        <section class="aulas_curso">
            <h1 class="curso_titulo">Curso Iniciando no Java</h1>
            <div class="aula_card">
                <h2 class="aula_nome">Aula 1</h2>
                <p class="aula_descricao">Hoje aprenderemos sobre Variaveis<span class="icone"><i class='bx bx-chevrons-down'></i></span><p> 
                
                <a href="https://www.devmedia.com.br/java-variaveis-e-constantes/38311" class="aula_link">Acesse a aula agora pelo Link</a>
            </div>

            <div class="aula_card">
                <h2 class="aula_nome">Aula 2</h2>
                <p class="aula_descricao">Hoje aprenderemos sobre Algoritmo e Portugol<span class="icone"><i class='bx bx-chevrons-down'></i></span></p>
                
                <a href="https://awari.com.br/passo-a-passo-como-fazer-algoritmo-no-portugol-e-dominar-a-logica-de-programacao/?utm_source=blog&utm_campaign=projeto+blog&utm_medium=Passo%20a%20passo:%20como%20fazer%20algoritmo%20no%20Portugol%20e%20dominar%20a%20l%C3%B3gica%20de%20programa%C3%A7%C3%A3o" class="aula_link">Acesse a aula agora pelo Link</a>
            </div>

            <div class="aula_card">
                <h2 class="aula_nome">Aula 3</h2>
                <p class="aula_descricao">Hoje aprenderemos sobre Eclipse e Primeiros comandos <span class="icone"><i class='bx bx-chevrons-down'></i></span></p> 
                
                <a href="https://www.sonarsource.com/products/sonarlint/?gads_campaign=SL-Class01-Generic&gads_ad_group=IDE-Plugin&gads_keyword=eclipse%20java&gclid=CjwKCAjwmbqoBhAgEiwACIjzEP2iQECHzP1l_EXrKsnkypfIJhpBl6ib_foYmKfTdojm6ELtuxhSFBoCgl8QAvD_BwE" class="aula_link">Acesse a aula agora pelo Link</a>
            </div>

            <div class="aula_card">
                <h2 class="aula_nome">Aula 4</h2>
                <p class="aula_descricao">Hoje aprenderemos sobre Tomada de Decisão<span class="icone"><i class='bx bx-chevrons-down'></i></span></p> 
                
                <a href="http://excript.com/java/tomada-decisao-java.html" class="aula_link">Acesse a aula agora pelo Link</a>
            </div>

            <div class="aula_card">
                <h2 class="aula_nome">Aula 5</h2>
                <p class="aula_descricao">Hoje aprenderemos sobre Laços de Repetição<span class="icone"><i class='bx bx-chevrons-down'></i></span></p> 
                <a href="https://productoversee.com/java-estruturas-de-repeticao/" class="aula_link">Acesse a aula agora pelo Link</a>
            </div>
        </section>

    </main>

    <footer class="menu_footer">
        <p class="copy">Desenvolvido por Guilherme e Lucas &copy;</p>
        <a href="../html/curso_back.html" class="retorno"><i class='bx bx-up-arrow-alt'></i></a>
    </footer>
    
</body>
</html>