<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icones e fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap" rel="stylesheet"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Icones e fontes -->

    <!--Css-->
    <link rel="stylesheet" href="css/styles_reset.css">
    <link rel="stylesheet" href="css/menu_login/styles_login.css">
    <link rel="stylesheet" href="css/menu_login/styles_menu.css">
    <!--Css-->
    <title>Pagina_Login</title>
</head>
<body id="menu_login">

    <!-- Cabeçalho -->
    <header class="menu_header_login"> 
        <nav class="menu_nav_login">
            <a href="./html/menu_principal.html#dev" class="link_login">Quem somos?</a>
        </nav>
    </header>

    <!--Menu Principal do Login-->
    <main class="login_base">  
            <div class="box_img_login">
                <img src="./css/img/Estudando_LOGIN.png" alt="estudando" class="img_login">
            </div>
        <section class="login_menu">
            <div class="star"><i class='bx bxs-star bx-spin' ></i></div>
            <div class="conteudo_login"> 
                <h2 id="Nome">LOGIN:</h2>
                <br>
                <form>
                    <label for="" class="efeito_label_login"><i class='bx bx-envelope'></i> </label>
                    <input type="email" id="Email" placeholder="Email"> 
                    <br>
                    <br>
                    <label for="" class="efeito_label_login"><i class='bx bx-lock'></i> </label>
                    <input type="password" id="Senha" placeholder="Senha">
                    <br>
                </form>
                <br>
                <a href="html/menu_principal.html" class="btn_login">Acessar</a>
                <br>
                <span class="spn">Ainda não criou uma conta?<a href="#" class="link_cadastro"> Cadastre-se</a></span>
                <br>
                <p class="spn-1" id="spn-1">Desenvolvido por <a href="#" class="link_cadastro-1" id="link_cadastro-1">Lucas</a> e <a href="#" class="link_cadastro-1" id="link_cadastro-1">Guilherme</a> &copy;</p>
            </div>
            <div class="star-2"><i class='bx bxs-star bx-spin' ></i></div>
        </section>
    </main>

    <!-- Rodapé -->
    <footer>

    </footer>
    
</body>
</html>