<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icones e fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Icones e fontes -->

    {% load static %}

    <!--Css-->
    <link rel="stylesheet" href="{% static 'gl_cursos_default/css/styles_reset.css' %}">
    <link rel="stylesheet" href="{% static 'gl_cursos_default/css/menu_login/styles_login.css' %}">
    <link rel="stylesheet" href="{% static 'gl_cursos_default/css/menu_login/styles_menu.css' %}">
    <!--Css-->
    <title>Pagina_Login</title>
</head>

<body id="menu_login">

    <!-- Cabeçalho -->
    <header class="menu_header_login">
        <nav class="menu_nav_login">
            <a href="#" class="link_login">Quem somos?</a>
        </nav>
    </header>

    <!--Menu Principal do Login-->
    <main class="login_base">
        <div class="box_img_login">
            <img src="{% static 'gl_cursos_default/css/img/Estudando_LOGIN.png' %}" alt="estudando" class="img_login">
        </div>
        <section class="login_menu">
            <div class="star"><i class='bx bxs-star bx-spin'></i></div>
            <div class="conteudo_login">
                {% block content %}

                {% if form.errors %}
                <p>Your username and password didn't match. Please try again</p>
                {% endif %}

                <form class="form_login" action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Hello">
                    <input type="hidden" name='next' value="{% url 'gl_cursos_default:index' %}">
                </form>
                {% endblock content %}

                <span class="spn">Ainda não criou uma conta?<a href="#" class="link_cadastro"> Cadastre-se</a></span>
                <br>
                <p class="spn-1">Desenvolvido por <a href="#" class="link_cadastro-1">Lucas</a> e <a href="#"
                        class="link_cadastro-1">Guilherme</a> &copy;</p>
            </div>
            <div class="star-2"><i class='bx bxs-star bx-spin'></i></div>
        </section>
    </main>

    <!-- Rodapé -->
    <footer>

    </footer>

</body>

</html>